@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&family=Poppins:wght@200;300&display=swap");
:root {
    --primary-color: rgb(12, 11, 102);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(210, 199, 168, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
}

.banner {
    min-height: 40vh;
    padding: 100px 0 100px;
}
/* paragraph */
#h2 {
    font-size: 37px;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    color: #0c0b5a;
}
#span {
    color: #b19476;
}
#p {
    color: #171717;
    line-height: 1.5;
    font-size: 16px;
}
#img {
    height: 50px;
    object-fit: contain;
}
/* ------------ */

.btnD1 {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
        -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(
        to right,
        rgb(7, 19, 124) 0%,
        rgba(18, 8, 153, 0.849) 50%,
        rgb(11, 5, 71) 100%
    );
    color: #fff;
}
@media (max-width: 768px) {
    .banner {
        padding: 200px 0;
    }
    .banner h2 {
        font-size: 1.9em;
    }
}

#hexagon {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 0 90px 50px;
}
#hexagon::before {
    content: "";
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(
        rgba(109, 59, 1, 0.322),
        transparent,
        transparent
    );
    border-radius: 50%;
    transition: 0.5s;
}
#hexagon:hover::before {
    opacity: 0.8;
    transform: scale(0.8);
}
#shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
}
.container .hexagon:hover .shape {
    transform: translateY(-30px);
}
#img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .hexagon .shape .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #031bf4, rgba(17, 4, 196, 0.5));
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.container .hexagon:hover .shape .contents {
    opacity: 1;
}
#h3 {
    color: #b19476;
    font-size: 30px;
    font-weight: 700;
}
#pa {
    color: white;
    font-size: 16px;
    font-weight: 200;
}

/* form */
/* Global */
#label {
    display: block;
    margin-bottom: 0.9rem;
}
#ville,
#service {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid red;
    border-radius: 0.25rem;
}

/* ----- */
form {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 60vh;
    width: clamp(400px, 90%, 900px);
}
.form {
    margin: 0 auto;
    border: 1px solid #a55310;
    border-radius: 6px;
    padding: 1.5rem;
}
#input-group {
    margin: 2rem 0;
}
#btn {
    padding: 0.7rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
#btn {
    margin-left: auto;
    width: 50%;
}
#btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}
