body {
    box-sizing: border-box;
    /* background-image: url('https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    /* background-size: cover; */
}

.section {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 10px;
    height: 80vh;
}
.img img {
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}
.login {
    width: 70%;
    margin-right: 20px;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 1;
}

h2 {
    font-weight: 300;
    text-align: center;
}

p {
    position: relative;
}

a,
a:link,
a:visited,
a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:focus,
a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#login-form-wrap {
    background-color: #fff;
    width: 90%;
    text-align: center;
    border-radius: 4px;
}

#login-form {
    padding: 0 60px;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #3ca9e2;
}
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}
input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation {
    display: block;
    border-color: #0c0;
}
input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span {
    background: #0c0;
    position: absolute;
    border-radius: 6px;
}
input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
}

input[type="submit"] {
    border: none;
    display: block;
    background-color: #3ca9e2;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

/* style page register  */

.body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-attachment: fixed;
}

.register .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body .container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #3ca9e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.form-group button:hover {
    background-color: #329dd5;
}

.form-group select {
    width: 100%;
    padding: 13px;
    font-size: 15px;
}

input[typa="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
    border-color: #3ca9e2;
}

/* style pour navbar */

.navbar {
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 6px -2px;
}

.navbar-brand a {
    font-weight: bold;
    font-size: 20px;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.toggle-icon {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle.active .toggle-icon {
        background-color: #fff;
    }

    .navbar-toggle.active ~ .navbar-links {
        display: block;
    }

    .navbar-links ul {
        flex-direction: column;
        background-color: #f2f2f2;
        padding: 10px;
    }

    .navbar-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* .sb-sidenav-menu a:hover{
    background-color:#dff2ff; 
  } */
.carousel-caption {
    top: 30%;
}
.carousel-caption p {
    font-size: 25px;
}
.info_attest:hover {
    box-shadow: 0px 0px 6px 0px black;
    transition: 0.2s;
}
.hoverElem:hover {
    background-color: #eeca9b;
}

/* .link a:is(:link,:active,:visited).active{
    color:#fff;
    background-color: #0dcaf0;
} */
